{block content}
    <div class="panel panel-default grido-panel">
        <div class="panel-heading">Všechny objednávky</div>
        <div class="panel-body">
            {control orders}
        </div>
    </div>
{/block}