{block content}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Upravit uživatele</div>
                <div class="panel-body">
                    {control userForm}
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
{/block}