{block content}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div id="login">
                <h1>Přihlásit se</h1><br>
                {control loginForm}
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

{/block}