{block content}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div id="login">
                <h1>Přihlásit se</h1><br>
                {control loginForm}

                <p>
                    Nemáte účet? Registrujte se <a href="{link Sign:register}">zde</a>.
                </p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

{/block}