body {
  background: $bgcolor;
}

span.error-message {
  color: #a94442;
  font-size: 13px;
  margin-top: 2px;
  display: inline-block;
}

.panel-success .panel-heading a {
  color: #3c763d;
}

ul.error {
  display: block;
  padding: 15px 30px;
  margin: 0 0 20px;
  background: #f2dede;
  border-left: 3px solid #a94442;
}

ul.error li {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #a94442;
}

label {
  font-weight: normal;
}

label.required {
  font-weight: bold;
}

.flash-message {
  margin-top: 10px;
  margin-bottom: 10px;
}

.grido-panel {
  .panel-body {
    padding: 0;
  }

  table {
    box-shadow: none;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
  }
}

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
  &.widget {
    background-color: #5cb85c;
  }
  .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
  }
}

.panel-yellow {
  border-color: #f0ad4e;
  &.widget {
    background-color: #f0ad4e;
  }
  .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
  }
}

.panel-red {
  border-color: #d9534f;
  &.widget {
    background-color: #d9534f;
  }
  .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
  }
}

.widget {
  height: 108px;
}

.widget-icon {
  font-size: 60px;
  font-weight: bold;
}

tr.order-cancelled {
  color: #999 !important;;
}